

/*Conteiner Header FIRST*/
.conteiner__header__first{
    display: flex;
}
.title__header{
    flex: 1 1 auto;
    align-self: center;
}

.search{
    flex: 1 1 auto;
    align-self: center;
    text-align: center;
    
    
}
.search input{   
   padding: .7em;
   width: 65vh;
   border: none;
   box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
   
}

.search input:focus{
    outline: none;
}
.button__search{
    width: 4em;
    height: 2.5em;
    background-color: white;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.user__account{
    flex: 1 1 auto;
    align-self: center;
}

.user__account ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.user__account ul li{
    padding: .5em 1em;
    
}

.user__account:hover,.title__header:hover,.button__search:hover{
    cursor: pointer;
}

/*Conteiner Header SECOND*/
.conteiner__header__second{
    display: flex;
}
.item__1{
    flex: 1 1 auto;
    align-self: center;
}

.user__item{
    flex: 1 1 auto;
    align-self: center;
}


.icon{
    padding-right: .5em;
}
.nav__menu{
    flex: 1 1 auto;
    align-self: center;
   
}

.nav__menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav__menu ul li{
    padding: .5em .5em .5em .5em;
    width: 5em;
    margin: 0.7em;
}

.nav__menu ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu ul li:hover,.nav__user li a:hover{
    cursor: pointer;
}

/*NAVBAR USER*/
.nav__user{
    display: flex;
    list-style: none;
}
.nav__user li{
    padding: 0em .6em;
}

.nav__user li a{
    background-color: #fff159;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0);
    border-radius: 50%;
    padding: .3em .4em .3em .4em; 
}
.icon_user{
    color: black;
}
.user__favorites,.user__shopping{
    background-color: rgb(250, 45, 45);
    margin: 0.2em;
    padding: 0em .5em 0em 0.5em; 
    border-radius: 50%;
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    top: 4em;
}
.user__favorites{
    right:2;
}

.user__shopping{
    right:2;
}

